<div class="container-fluid mt-5 about-style " id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Host With Us</p>
                <div class="row">
                    {{!-- left side --}}
                    <div class="col-md-6 col-12 hero-text  ">
                        <figure>
                            <img src="https://cdn.pixabay.com/photo/2015/11/03/08/54/football-1019776__340.jpg" alt="heroSectionimg">
                        </figure>
                    </div>
                        
                    
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text ">
                        <h1>We Are</h1>
                        <h1>The Scouts Too! </h1>
                        <p>We Are the <span class="bold-style">Committee members😃</span></p>
                        <button class="btn-style btn-primary">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>