<div class="container-fluid mt-5 about-style " id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Host With Us</p>
                <div class="row">
                    {{!-- left side --}}
                    <div class="col-md-6 col-12 hero-text  ">
                        <figure>
                            <img src="https://media.istockphoto.com/photos/soccer-player-in-action-picture-id466169394?b=1&k=20&m=466169394&s=170667a&w=0&h=6PP_tNmHEatb3d3Axi6LMdJ3dy10MeTidrLFFc3_WwE=" alt="heroSectionimg">
                        </figure>
                    </div>
                        
                    
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text ">
                        <h1>We Are</h1>
                        <h1>The Scouts Too! </h1>
                        <p>We Are the <span class="bold-style">Team Sponsors Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, perspiciatis amet mollitia, culpa voluptates quod tempora dolores, voluptatum aliquid eligendi quis eaque. Deleniti, fugiat blanditiis! Vel ea sequi inventore nam.</span></p>
                        <button class="btn-style btn-primary">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>