<header class="header">
        <nav>
            <div class="logo"><h1 class=" animate__heartBeat">MERA BHARAT</h1></div>
            <div class="menu">
                <a href="https://uttarakhandtourism.gov.in/" target="_blank">home</a>
                <a href="https://www.shutterstock.com/search/uttarakhand-tourism" target="_blank">gallery</a>
                <a href="https://registrationandtouristcare.uk.gov.in/signin.php">about</a>
                <a href="#" target="_blank">contact</a>
            </div>
        </nav> 
        </header>